Importing and loading our data

In [24]:
import pandas as pd

df = pd.read_csv("ridership_ktmb_daily.csv")
df.head()

         date service  ridership
0  2020-10-15     ets        737
1  2020-10-16     ets       1065
2  2020-10-17     ets        856
3  2020-10-18     ets       1037
4  2020-10-19     ets        845

Checking how many rows we have

In [22]:
num_rows = df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 7573

Computing mean, median and mode of ridership for 2025

In [23]:
# Compute statistics
mean_val = ridership.mean()
median_val = ridership.median()
mode_val = ridership.mode()[0]  # mode() may return multiple values

print("Mean:", mean_val)
print("Median:", median_val)
print("Mode:", mode_val)

NameError: name 'ridership' is not defined